html, body {
  box-sizing: border-box;
  background-color: #fff;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #113743;
  height: 100%;
  width: 100%;
}
a, a:hover {
  text-decoration: none;
  color: #587e8c;
}

.blauwgrijs {
  color: #587e8c;
}